<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension point="org.eclipse.ui.editors">
      <editor name="Oubeichen's GEF Shapes"
              extensions="obsp"
              icon="shapes.gif"
              default="true"
              class="com.oubeichen.gefexp.ShapesEditor"
              contributorClass="com.oubeichen.gefexp.ShapesEditorActionBarContributor"
              id="Oubeichen GEF Shapes Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category name="Examples"
                parentCategory="org.eclipse.ui.Examples"
                id="com.oubeichen.gefexp"/>
      <wizard name="Oubeichen Shapes Diagram"
              icon="shapes.gif"
              category="org.eclipse.ui.Examples/com.oubeichen.gefexp"
              class="com.oubeichen.gefexp.ShapesCreationWizard"
              id="com.oubeichen.gefexp.ShapesCreationWizard">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
</plugin>
